{
    "presets": [
        [
            "@babel/preset-env",
            {
                // 配置按需加载  这样使用全局按需 添加polyfill  项目中用的多
                "useBuiltIns": "usage",
                // 指定core-js的版本
                "corejs": {
                    "version": 3
                },
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "not ie <= 8"
                    ]
                }
            }
        ]
    ]
}